In [2]:
import pandas as pd
import category_encoders as ce

In [4]:
data ={'category':['A','B','C','D','E','A','B','C','D','E','A','B','C','D','E','A','B','C','D','E']}
df=pd.DataFrame(data)
df

   category
0         A
1         B
2         C
3         D
4         E
5         A
6         B
7         C
8         D
9         E
10        A
11        B
12        C
13        D
14        E
15        A
16        B
17        C
18        D
19        E

In [6]:
## First to covert Data intoo category encoder than Binary Encoder
encoder=ce.BinaryEncoder(cols=['category'],return_df=True)

In [8]:
df_binary=encoder.fit_transform(df)
df_binary

    category_0  category_1  category_2
0            0           0           1
1            0           1           0
2            0           1           1
3            1           0           0
4            1           0           1
5            0           0           1
6            0           1           0
7            0           1           1
8            1           0           0
9            1           0           1
10           0           0           1
11           0           1           0
12           0           1           1
13           1           0           0
14           1           0           1
15           0           0           1
16           0           1           0
17           0           1           1
18           1           0           0
19           1           0           1