In [1]:
# Raw Code

In [2]:
def min_max(data):
    min_val=min(data)
    max_val=max(data)

    scaled_data=[(x-min_val) / (max_val-min_val) for x in data]

    return scaled_data

In [4]:
data=[3,5,7,9,34,56]

scaled_data=min_max(data)
print("Orginal :" , data)
print("Transform :", scaled_data)

Orginal : [3, 5, 7, 9, 34, 56]
Transform : [0.0, 0.03773584905660377, 0.07547169811320754, 0.11320754716981132, 0.5849056603773585, 1.0]

In [ ]:
## SKlearn

In [6]:
import pandas as pd
from sklearn.preprocessing import MinMaxScaler

In [7]:
data={
    
     'F-1':[1,3,5,7,9],
     'F-2':[2,4,6,8,10]
     }

df=pd.DataFrame(data)
df

   F-1  F-2
0    1    2
1    3    4
2    5    6
3    7    8
4    9   10

In [8]:
scaler=MinMaxScaler()
scaled_data= scaler.fit_transform(df)
scaled_df=pd.DataFrame(scaled_data,columns=df.columns)
scaled_df

    F-1   F-2
0  0.00  0.00
1  0.25  0.25
2  0.50  0.50
3  0.75  0.75
4  1.00  1.00