In [1]:
import matplotlib.pyplot as plt
import pandas as pd
from sklearn.linear_model import LinearRegression
import os

In [2]:
os.listdir()

['.ipynb_checkpoints',
 'car data.csv',
 'car data_1.csv',
 'Linear Regression.ipynb',
 'Linear_two.ipynb',
 'marital status.csv',
 'Multiple_variables.ipynb',
 'nasdaq100.csv',
 'Salary Data.csv',
 'Salary Prediction.ipynb']

In [3]:
df=pd.read_csv('car data.csv')
df

    speed  car_age  experience  risk
0     172     22.0    8.104042    42
1      94     17.0         NaN    36
2     186      NaN   14.819477    45
3     151     10.0         NaN    38
4     100      6.0   16.455807    47
5     182     15.0         NaN    66
6     154      NaN    4.750129    64
7     167     28.0    8.004458    42
8     196      5.0         NaN    39
9     179      1.0    1.657826    95
10    183      8.0   10.567402    75
11    210     21.0    8.726717    19
12    132      NaN   16.042185    42
13     81     12.0   19.558013    83
14    167     12.0   11.120101    47

In [4]:
#null value check
df.isnull().sum()

speed         0
car_age       3
experience    4
risk          0
dtype: int64

### We have fill up the NaN value by that group's meadian or mean Value..

In [5]:
df.car_age

0     22.0
1     17.0
2      NaN
3     10.0
4      6.0
5     15.0
6      NaN
7     28.0
8      5.0
9      1.0
10     8.0
11    21.0
12     NaN
13    12.0
14    12.0
Name: car_age, dtype: float64

In [6]:
#meadin
car_null=df.car_age.median()

In [7]:
car_null

np.float64(12.0)

In [12]:
## NaN value fillup
df.car_age=df.car_age.fillna(car_null)
df.car_age

0     22.0
1     17.0
2     12.0
3     10.0
4      6.0
5     15.0
6     12.0
7     28.0
8      5.0
9      1.0
10     8.0
11    21.0
12    12.0
13    12.0
14    12.0
Name: car_age, dtype: float64

In [9]:
###for experence and risk column

#experience
experience_null=df.experience.median()
experience_null

np.float64(10.56740243)

In [13]:
df.experience=df.experience.fillna(experience_null)
df.experience

0      8.104042
1     10.567402
2     14.819477
3     10.567402
4     16.455807
5     10.567402
6      4.750129
7      8.004458
8     10.567402
9      1.657826
10    10.567402
11     8.726717
12    16.042185
13    19.558013
14    11.120101
Name: experience, dtype: float64

In [15]:
df

    speed  car_age  experience  risk
0     172     22.0    8.104042    42
1      94     17.0   10.567402    36
2     186     12.0   14.819477    45
3     151     10.0   10.567402    38
4     100      6.0   16.455807    47
5     182     15.0   10.567402    66
6     154     12.0    4.750129    64
7     167     28.0    8.004458    42
8     196      5.0   10.567402    39
9     179      1.0    1.657826    95
10    183      8.0   10.567402    75
11    210     21.0    8.726717    19
12    132     12.0   16.042185    42
13     81     12.0   19.558013    83
14    167     12.0   11.120101    47

In [ ]:
#Linear Regresssion
reg = LinearRegression()