In [1]:
import pandas as pd

In [2]:
data={
    'X':[1,2,3,4,5,7,20],
    'Y':[2,3,4,5,6,6,8]
}

In [3]:
data

{'X': [1, 2, 3, 4, 5, 7, 20], 'Y': [2, 3, 4, 5, 6, 6, 8]}

In [4]:
df=pd.DataFrame(data)
df.head()

   X  Y
0  1  2
1  2  3
2  3  4
3  4  5
4  5  6

#  Pearson Correlation Coefficient

In [5]:
pearson_corr=df['X'].corr(df['Y'])
pearson_corr

np.float64(0.859177782722757)

In [6]:
df.corr()

          X         Y
X  1.000000  0.859178
Y  0.859178  1.000000